<div class="widget-wrap">
<h3 class="widget-title">Ads</h3>
<div class="widget">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- saysua-sidebar-responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4997068093676921"
         data-ad-slot="9242989898"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
</div>
